USE [QUORA]
GO
/****** Object:  StoredProcedure [dbo].[FIRMAREQUISICION]    Script Date: 20/12/2019 18:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[FIRMAREQUISICION]
@CNSREQ VARCHAR(30)
AS

UPDATE REQUISICIONESDT SET REQUISICIONESDT.FECHA_DE_FIRMA=GETDATE(), 
REQUISICIONESDT.APROBACION=1, REQUISICIONESDT.FIRMA_APROBACION=ITEMSREQ.FIRMA_APROBACION
FROM REQUISICIONESDT INNER JOIN ITEMSREQ
ON REQUISICIONESDT.CNSREQ = ITEMSREQ.CNSREQ
WHERE REQUISICIONESDT.CNSREQ=@CNSREQ AND ITEMSREQ.CNSREQ=@CNSREQ


UPDATE REQUISICIONES SET APROBACION=1 
FROM REQUISICIONESDT INNER JOIN REQUISICIONES
ON REQUISICIONESDT.CNSREQ = REQUISICIONES.CNSREQ WHERE REQUISICIONES.CNSREQ = @CNSREQ
AND REQUISICIONESDT.CNSREQ=@CNSREQ

